@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  background-color: #A79C8E;
  font-family: 'Raleway', sans-serif;
  color: #E9E8E9;
}

#logoimage {
  width: 30%;
  margin-left: 5%;
  display: inline-block;
  vertical-align: -1em;
}

h1 {
  display: inline-block;
  padding: .3em;
  margin: 0;
  font-size: 5em;
}

.content {
  background-color: #E9E8E9;
  width: 80%;
  color: #09354F;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 15px;
  box-shadow: 12px 16px;
}

p {
  margin: 15px;
}

#menu {
  box-shadow: 4px 6px #888888;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 15px;
  right: 15px;
  list-style-type: none;
  text-decoration: none;
}

#menuitem {
  background-color: #E9E8E9;
  display: inline-block;
  padding: 0;
  margin: 0;
}

li a {
  display: block;
  color: #A79C8E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#winners {
  width: 100%;
}

#current {
  color: #E9E8E9;
  background-color: #09354F;
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 80%;
}

#footer {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#footerimage {
  display: inline-block;
  width: 30%;
  vertical-align: -.75em;
}
