body {
    --main-bg: #FFFFFC;
    --main-text: #BEB7A4;
    --main-color: #CBE896;
    --highlight1: #FF7F11;
    --highlight2: #FF1B1C;
    background-color: var(--main-bg);
    color: var(--main-text);

}



#container {
    display: grid;
    grid-template-columns: 33vw 33vw 1fr;
    grid-template-rows: auto 20% 20% 20% 20%;
}

#title {
    grid-column: span 2;
}

h1 {
    text-align: center;
    font-size: 12vw;
    color: var(--highlight1);
    font-family: 'Josefin Slab', serif;
    text-shadow: 4px 4px 0px var(--main-color);
}

#about {
    grid-column: span 1;
    min-width: 30em;
}

.desc {
    padding: 4em 6em 0 6em;
    line-height: 180%;
    font-family: 'Open Sans', sans-serif;
}

.project {
    grid-column: span 1;
    text-align: center;
}

i {
    font-size: 30vh !important;
    color: var(--main-color);
    text-align: center;
    text-shadow: 2px 6px 0px var(--highlight1);
}


#contact {}


/* "mobile" version i guess */

@media (max-width: 800px) {

    #container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 20% 20% 20% 20%;
        /**background-color: purple;**/
    }

    #title {
        grid-column: span 1;
    }
}


/*fonts:  */

/*font-family: 'Josefin Slab', serif;*/

/*font-family: 'Open Sans', sans-serif;*/
