html{
    height: 100%;
    width: 100%;
    background-color: white;
}
body{
    margin: 0px;
}
h1{
    font-family: 'Josefin Slab', serif;
    font-size: 800%;
    color: white;
    text-align: left;
    margin-top: 8%;
    margin-bottom: 0%;
    position: relative;
}

