html{
    height: 100%;
    width: 100%;
    background-color: white;
    /*background-color: #8f9385;
    
    background-image: url("../img/Mountains.JPG"); 
    background-size: cover;
    position: absolute;
    background-attachment: fixed;*/
}
body{
    margin: 0px;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 500%;
    color: black;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 0%;
    position: relative;
}

h2{
    margin: 0px;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 148%;
    text-align: center;
}

h3{

}

p{
    font-family: 'Lato', sans-serif;
    font-size: 98%;
    line-height: 125%;
    color: black;
    text-align: center;
    width: 60%;
    margin: auto;
}

.top{
    margin: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../img/Mountains.JPG"); 
    /*background-size: cover;
    background-color: blue;
    top: 100%;
    height: 100%;
    width: 100%;
    position: relative;*/
}

.content{
    position:absolute;
    margin: 100vh 0vh 0vh 0vh;
}
.subtitle{
    text-align: center;
}

.projectimage{
    height: 200px;
    width: 200px;
    background-color: white;
    border: solid #595959 1px;
    margin: 10px;
    border-radius: 50px;
}

.projects{
    width: 905px;
    margin: auto;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: black;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}

.hovertext{
    cursor: grab;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul{
    margin: 0px;
    list-style: none;
    font-family: 'Lato', sans-serif;
    position: fixed;
    top: 20px;
    left: 0%;
    width: 100%;
    height: 50%;
    line-height: 125%;
    text-decoration-line: 0px;
}

li{
    position: relative;
    z-index:1;
    float: left;
    padding-right: 10px;
}

.images{
    float: auto;
    padding-right: initial;
}

a{
    position: relative;
    z-index: 1;
    color: black;
    text-decoration: none;
}

a:hover{
    font-weight: bolder;
}

a:active{
    font-weight: bolder;
}

.current{
    font-weight: bolder;
    text-decoration-line: 3px;
}

